<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | سامانه کارآموزی</title>
    <link rel="stylesheet" href="./css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="./css/login&register.css" />
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-xl-6 col-md-8 d-flex justify-content-center align-items-center bg-white flex-column px-4 main_card">
                <header class="mb-5 pt-2">
                    <a href="/" class="text-decoration-none"><h1 class="title ms-3">کارآموز</h1></a>
                </header>
                @!section('body')
            </div>
        </div>
    </div>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>
